body{
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(Imagenes/Fondo2.png);
}

header{
    background-color: black;
    width: 100%;
    height: 150px; 
}

nav {
    max-width: 900px;
    margin: auto;
    font-size: 30px;
    margin-top: 25px;
    position: absolute;
    margin-left: 100px;
}

.menu-horizontal {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu-horizontal > li > a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal > li:hover {
    background-color: deeppink;
}

.menu-horizontal a{
    color: white;
    text-decoration: none;
    
    
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 500px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: darkturquoise;
}

.menu-vertical li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
}



.logotipo img{
    width: 190px;
    height: 64px;
    position: absolute;
    margin-left: 45%;
    margin-top: 40px;
}

.instagram h1{
    color: white;
    font-size: 25px;
    position: absolute;
    margin-left: 80%;
    margin-top: 54px;
}

main{
    padding: 0px;
    margin: 0px;
}

.titulo{
    margin-left: 27%;
    margin-top: 50px;
}

.texto{
    margin: 50px;
}

.texto p{
    font-size: 45px;
    color: black;
    
}


.tulogo img{
    height: 100px;
    width: auto;
    margin-left: 600px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.infoapp{
    margin: 50px;
    height: 500px;
}

.infoapp p{
    color: black;
    font-size: 45px;
    margin-right: 800px;
}

.qr img{
    height: 500px;
    width: auto;
    position: absolute;
    margin-left: 1100px;
    margin-top: -550px;
}

footer{
    background-color: black;
    height: 70px;
    width: 100%;
    
}

footer p{
    color: white;
    font-size: 30px;
    margin-left: 28%;
    margin-top: 1%;
}


